{% extends 'base.html' %}
{% load static %}
{% block content %}




    <form action=""  method="POST" enctype="multipart/form-data">
        <div class="form">
            {% csrf_token %}
        <input name="file" id="entry_value" ref="fileInput" type="file"  onchange="getFileName()">
        <div>     
    </form> 

    <div>
        <img src=" {% static 'assets/images/upload.png' %}" alt="upload" width="7%" class="mx-2">
        Upload your files here or 
        <button class="btn bg-color-dblue btn-primary px-4 py-3">Browse</button>
    </div>

    <span id="fileName" class="text-primary">
    </span>


    <body>
        <form action="">
            <div class="form">
            <input name="file" id="entry_value" ref="fileInput" type="file"  onchange="getFileName()">
            <div>     
        </form>   
                <img src="upload.png" alt="upload" width="7%" class="mx-2">
                Upload your files here or 
                <button class="btn bg-color-dblue btn-primary px-4 py-3">Browse</button>
            </div>
                <span id="fileName" class="text-primary ">
                </span>
            </div>
    </body>
 

 



{% endblock %}