{% extends 'base.html' %}
{% load static %}

{%block content%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"> </script>  
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 



<script >
  $(function () {
/* ChartJS
* -------
* Data and config for chartjs
*/
'use strict';

var doughnutPieData = {
datasets: [{
  data: [ {{faux}},{{vrai}}],
  backgroundColor: [
    'rgba(255, 99, 132, 0.5)',
    'rgba(54, 162, 235, 0.5)',
    'rgba(255, 206, 86, 0.5)',
    'rgba(75, 192, 192, 0.5)',
    'rgba(153, 102, 255, 0.5)',
    'rgba(255, 159, 64, 0.5)'
  ],
  borderColor: [
    'rgba(255,99,132,1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 159, 64, 1)'
  ],
}],

// These labels appear in the legend and in the tooltips when hovering different arcs
labels: [
'Faux {{faux}}%',
' Vrai  {{vrai}} %',
  
  
]
};
var doughnutPieOptions = {
responsive: true,
animation: {
  animateScale: true,
  animateRotate: true
}
};


if ($("#doughnutChart").length) {
var doughnutChartCanvas = $("#doughnutChart").get(0).getContext("2d");
var doughnutChart = new Chart(doughnutChartCanvas, {
  type: 'doughnut',
  data: doughnutPieData,
  options: doughnutPieOptions
});
}


});
</script>



    

    <div class="col-12 grid-margin stretch-card">
      <div class="card">
       
        <div class="card-body">




            <div class="row">
             
                <div class="col-12 grid-margin">
                  <div class="card">
                    <div class="card-body">
                     












          
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" >
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header" style="background-color: beige;">
                              <h5 class="modal-title" id="">ajouter route</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            {% block jj %}
                            <form method="post" action="{% url 'table' id%}"> 
                                {% csrf_token %}
                                
                               
                      
                                <div class="modal-body" style="background-color: #fff;">
                                  
                                  
                                  <div class="form-group row">
                                    <label for="inputState" class="col-sm-3 col-form-label">State</label>
            <div class="col-sm-9">
            <select id="inputState" class="form-control" name="choix">
              <option selected value="vide">Choose...</option>
              {% for x in rute %}  
              <option value="{{x.id}}">             {{x.name}}</option>
             {%endfor%}

            </select>
          </div>
          </div>
                                  
                                  </div>
                                  
                                <div class="modal-footer"  style="background-color: beige;">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                                  <button type="submit" class="btn btn-gradient-success btn-icon-text">Appliquer</button>
                                </div>
                                {% endblock %}
                            </form>
                            
                          </div>
                        </div>
                      </div>
                      















          
                      <div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="false" >
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header" style="background-color: beige;">
                              <h5 class="modal-title" id="">faire un test</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            {% block zz %}
                            <form method="post" action=""> 
                                {% csrf_token %}
                                
                               
                      
                                <div class="modal-body" style="background-color: #fff;">
                                  
                                  
                                  <div class="form-group row">
                                    <label for="inputState" class="col-sm-3 col-form-label">State</label>
            <div class="col-sm-9">
            <select id="inputState" class="form-control" name="test">
              <option selected value="vide">Choose...</option>
              {% for x in rute %}  
              <option value="{{x.id}}">             {{x.name}}</option>
             {%endfor%}

            </select>
          </div>
          </div>
                                  
                                  </div>
                                  
                                <div class="modal-footer"  style="background-color: beige;">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                                  <button type="submit" class="btn btn-gradient-success btn-icon-text">Appliquer</button>
                                </div>
                                {% endblock %}
                            </form>
                            
                          </div>
                        </div>
                      </div>
                      




















          
                      <div class="modal fade" id="telecharger" tabindex="-1" role="dialog" aria-labelledby="telecharger" aria-hidden="false">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content" >
                            <div class="modal-header"  style="background-color: beige;">
                              <h5 class="modal-title" id="">telecharger</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            {% block tt %}
                            <form method="post" action="{% url 'export' id %}"> 
                                {% csrf_token %}
                               
                    
                                <div class="modal-body">
                                    <label>Upload a file </lable> 
                                        <br>
                                        <br>
                                        <input type="text" class="form-control" id="rute" name="name" value="vide" placeholder="Name de fichier"> 
                                       
                                        <p>Excel Format : </p>
                                        <span>position, address, timeUI/UX, NYC Some Address 123, 3 weeks ago</span> 
                                        
                                </div>
                                <div class="modal-footer"  style="background-color: beige;">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                                  <button type="submit" class="btn btn-gradient-success btn-icon-text">Appliquer</button>
                                </div>
                            </form>
                            {% endblock %}
                          </div>
                        </div>
                      </div>
                    
















































































                      {% if cas == 0 %}

                      <div class="">
      
                        <div class="{{class}}" role="alert">
                          
                          nembre de cas detecter  <strong>{{case}}</strong> nembre de case modifier  <strong>{{n}}</strong> nembre de class non modifier  <strong>{{m}}</strong>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                    </div> 
                    
                    {% elif cas == 1 %}
                    <div class="">
      
                      <div class="{{class}}" role="alert">
                         <strong>{{message}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                  </div> 
                  
                  
                    {%endif%}
        <div class="table-wrapper">
          
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5"><h2> Fichier de ID: <b> {{id}} </b></h2></div>
                   
                    <div class="col-sm-7">

                     
                        
                          <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-inverse-success btn-fw">Applicer Role</button>
                
                        <a href="" type="button" class="btn btn-inverse-secondary btn-fw"onclick='overlay()' data-toggle="modal" data-target="#example">
                            <i class="fa fa-file-excel-o"></i> TEST
                        </a>
                        
                      
                        
                        <a href="" type="button" class="btn btn-inverse-danger btn-fw"onclick='overlay()' data-toggle="modal" data-target="#telecharger">
                          <i class="fa fa-file-excel-o"></i> telecherger
                      </a>
                     
                      
                       
                    </div>
                    <div class='btn btn-info' id="displaymessage" style="display:none;width:100%;margin-top:10px;"></div>
                </div>
            </div>
            
  

            {% if cas == 2 %}
            <div id="overlay">
              <div class="text-center col-lg-12 grid-margin stretch-card">
                <div class="card col-lg-10">
                  <div class="card-body">
                    <h4 class="card-title">Doughnut chart</h4>
                
                    <canvas id="doughnutChart" style="height:250px"></canvas>
                  </div>
                </div>
              </div>
            </div>
             
            
                  <div class="">
      
                    <div class="{{class}}" role="alert">
                      nembre de cas detecter  <strong>{{case}}</strong> <br> nembre declasse modifier  <strong>{{m}}</strong> <br>nembre de class non modifier<strong>{{n}}</strong>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                </div> 
             <script>
             
               function overlay() {
                 el = document.getElementById("overlay");
                 el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
               }
             
             </script>
            

{% else %}
            <br>   <br>   <br>   <br>


    




                      <div class="table-responsive">
                        <table class="table">
                <thead >
                    
                    <tr>
         <th>               article</th>
                     <th>   designation_article</th>
              <th>          text_article</th>
            <th>            grpe_march</th>
     <th>                   div</th>
       <th>                 ctrpr</th>
         <th>               typ_app</th>
     <th>                   a_s</th>
     <th>                   tcy</th>
     <th>                   dfi</th>
     <th>                   dpr</th>
       <th>                 horiz</th>
    <th>                    mp</th>
   <th>                     r</th>
      <th>                  tyar</th>
     <th>                   nal</th>
     <th>                   i_c</th>
           <th>             aappr_def</th>
       <th>                 mgapp</th>
     <th>                   mag</th>
    <th>                    tl</th>
          <th>              lot_fixe</th>
     <th>                   uq1</th>
                <th>        stock_securite</th>
     <th>                   uq0</th>
                       
     <th>                   tre</th>
      <th>                  gest</th>
    <th>                    di</th> 
       <th>                 rebut</th>
     <th>                   gac</th>
        <th>                Profil</th>
        <th>                prpiAt</th>
          <th>              cree_par</th>
        <th>                langue</th>
         <th>               Cree_le</th>
      <th>                  gcha</th>
      <th>   gs</th>
                        <th>  mode_de_comparaison_des_besoin</th>
                 <th>       int_ajust_amont</th>
                <th>        int_ajust_aval</th>
              <th>          taille_l_min</th>
     <th>                   uq2</th>
              <th>          val_arrondie</th>
     <th>                   uq3</th>
               <th>         taille_lot_mx</th>
     <th>                   uq4</th>
               <th>         stock_maximum</th>
     <th>                   uq5</th>
       <th>                 chant</th>
     <th>                   typ</th>
           <th>             delai_sec</th>
            <th>            delai_sec1</th>
                   <th>     ctrl_destinataire</th>
               <th>         article_rempl</th>
    <th>                    dv</th>
     <th>                   gml</th>
      <th>                  grpl</th>
     <th>                   abc</th>
     <th>                   uq6</th>
              <th>          element_dOTP</th>
      <th>                  grpa</th>
               <th>         Code_pilotage</th>
                   <th>     hierarch_produits</th>
            <th>            poids_brut</th>
      <th>                  unp1</th>
           <th>             poids_net</th>
      <th>                  unp2</th>
            <th>            pas_de_ccr</th>
                      <th>  Taille_de_lot_du_CCR</th>
     <th>                   uq7</th>
                        
                    
                    </tr>
                </thead>
                {% for x in data %}  
                <tbody> 
                
    {%if x.article.0.5 %}
                   <td class="table-danger" >         <a  style="color:black" href="" >     {{x.article.0.3}}</a> </td>
                    {%else%}
                    <td >               {{x.article}}</td>
                    {%endif%}

                    {%if x.designation_article.0.5 %}
                    <td class="table-danger" >  <a  style="color:black" href="" >      {{x.designation_article.0.3}}</a></td>
                    {%else%}
                    <td >               {{x.designation_article}}</td>
                    {%endif%}


                    {%if x.text_article.0.5 %}
                    <td class="table-danger" >     {{x.text_article.0.3}}</td>
                    {%else%}
                    <td >               {{x.text_article}}</td>
                    {%endif%}
                    {%if x.grpe_march.0.5 %}
                    <td class="table-danger" >     {{x.grpe_march.0.3}}</td>
                    {%else%}
                    <td >               {{x.grpe_march}}</td>
                    {%endif%}



                    {%if x.div.0.5 %}
                    <td class="table-danger" >     {{x.div.0.3}}</td>
                    {%else%}
                    <td >               {{x.div}}</td>
                    {%endif%}
                    {%if x.ctrpr.0.5 %}
                    <td class="table-danger" >     {{x.ctrpr.0.3}}</td>
                    {%else%}
                    <td >               {{x.ctrpr}}</td>
                    {%endif%}

                    {%if x.typ_app.0.5 %}
                    <td class="table-danger" >     {{x.typ_app.0.3}}</td>
                    {%else%}
                    <td >               {{x.typ_app}}</td>
                    {%endif%}
                    {%if x.a_s.0.5 %}
                    <td class="table-danger" >     {{x.a_s.0.3}}</td>
                    {%else%}
                    <td >               {{x.a_s}}</td>
                    {%endif%}


                    {%if x.tcy.0.5 %}
                    <td class="table-danger" >     {{x.tcy.0.3}}</td>
                    {%else%}
                    <td >               {{x.tcy}}</td>
                    {%endif%}
                    {%if x.dfi.0.5 %}
                    <td class="table-danger" >     {{x.dfi.0.3}}</td>
                    {%else%}
                    <td >               {{x.dfi}}</td>
                    {%endif%}

                    {%if x.dpr.0.5 %}
                    <td class="table-danger" >     {{x.dpr.0.3}}</td>
                    {%else%}
                    <td >               {{x.dpr}}</td>
                    {%endif%}
                    {%if x.horiz.0.5 %}
                    <td class="table-danger" >     {{x.horiz.0.3}}</td>
                    {%else%}
                    <td >               {{x.horiz}}</td>
                    {%endif%}

                    {%if x.mp.0.5 %}
                    <td class="table-danger" >     {{x.mp.0.3}}</td>
                    {%else%}
                    <td >               {{x.mp}}</td>
                    {%endif%}
                    {%if x.r.0.5 %}
                    <td class="table-danger" >     {{x.r.0.3}}</td>
                    {%else%}
                    <td >               {{x.r}}</td>
                    {%endif%}

                    {%if x.tyar.0.5 %}
                    <td class="table-danger" >     {{x.tyar.0.3}}</td>
                    {%else%}
                    <td >               {{x.tyar}}</td>
                    {%endif%}
                    {%if x.nal.0.5 %}
                    <td class="table-danger" >     {{x.nal.0.3}}</td>
                    {%else%}
                    <td >               {{x.nal}}</td>
                    {%endif%}



                    {%if x.i_c.0.5 %}
                    <td class="table-danger" >     {{x.i_c.0.3}}</td>
                    {%else%}
                    <td >               {{x.i_c}}</td>
                    {%endif%}
                    {%if x.aappr_def.0.5 %}
                    <td class="table-danger" >     {{x.aappr_def.0.3}}</td>
                    {%else%}
                    <td >               {{x.aappr_def}}</td>
                    {%endif%}

                    {%if x.mgapp.0.5 %}
                    <td class="table-danger" >     {{x.mgapp.0.3}}</td>
                    {%else%}
                    <td >               {{x.mgapp}}</td>
                    {%endif%}
                    {%if x.mag.0.5 %}
                    <td class="table-danger" >     {{x.mag.0.3}}</td>
                    {%else%}
                    <td >               {{x.mag}}</td>
                    {%endif%}
        



                    {%if x.tl.0.5 %}
                    <td class="table-danger" >     {{x.tl.0.3}}</td>
                    {%else%}
                    <td >               {{x.tl}}</td>
                    {%endif%}
                    {%if x.lot_fixe.0.5 %}
                    <td class="table-danger" >     {{x.lot_fixe.0.3}}</td>
                    {%else%}
                    <td >               {{x.lot_fixe}}</td>
                    {%endif%}

                    {%if x.uq1.0.5 %}
                    <td class="table-danger" >     {{x.uq1.0.3}}</td>
                    {%else%}
                    <td >               {{x.uq1}}</td>
                    {%endif%}
                    {%if x.stock_securite.0.5 %}
                    <td class="table-danger" >     {{x.stock_securite.0.3}}</td>
                    {%else%}
                    <td >               {{x.stock_securite}}</td>
                    {%endif%}
    

                    {%if x.uq0.0.5 %}
                    <td class="table-danger" >     {{x.uq0.0.3}}</td>
                    {%else%}
                    <td >               {{x.uq0}}</td>
                    {%endif%}
                    {%if x.tre.0.5 %}
                    <td class="table-danger" >     {{x.tre.0.3}}</td>
                    {%else%}
                    <td >               {{x.tre}}</td>
                    {%endif%}
                    {%if x.gest.0.5 %}
                    <td class="table-danger" >     {{x.gest.0.3}}</td>
                    {%else%}
                    <td >               {{x.gest}}</td>
                    {%endif%}
                    {%if x.di.0.5 %}
                    <td class="table-danger" >     {{x.di.0.3}}</td>
                    {%else%}
                    <td >               {{x.di}}</td>
                    {%endif%}




                    {%if x.rebut.0.5 %}
                    <td class="table-danger" >     {{x.rebut.0.3}}</td>
                    {%else%}
                    <td >               {{x.rebut}}</td>
                    {%endif%}
                    {%if x.gac.0.5 %}
                    <td class="table-danger" >     {{x.gac.0.3}}</td>
                    {%else%}
                    <td >               {{x.gac}}</td>
                    {%endif%}
                    {%if x.Profil.0.5 %}
                    <td class="table-danger" >     {{x.Profil.0.3}}</td>
                    {%else%}
                    <td >               {{x.Profil}}</td>
                    {%endif%}
                    {%if x.prpiAt.0.5 %}
                    <td class="table-danger" >     {{x.prpiAt.0.3}}</td>
                    {%else%}
                    <td >               {{x.prpiAt}}</td>
                    {%endif%}
  




                    {%if x.cree_par.0.5 %}
                    <td class="table-danger" >     {{x.cree_par.0.3}}</td>
                    {%else%}
                    <td >               {{x.cree_par}}</td>
                    {%endif%}
                    {%if x.langue.0.5 %}
                    <td class="table-danger" >     {{x.langue.0.3}}</td>
                    {%else%}
                    <td >               {{x.languelangue}}</td>
                    {%endif%}
                    {%if x.Cree_le.0.5 %}
                    <td class="table-danger" >     {{x.Cree_le.0.3}}</td>
                    {%else%}
                    <td >               {{x.Cree_le}}</td>
                    {%endif%}
                    {%if x.gcha.0.5 %}
                    <td class="table-danger" >     {{x.gcha.0.3}}</td>
                    {%else%}
                    <td >               {{x.gcha}}</td>
                    {%endif%}
       





                    {%if x.gs.0.5 %}
                    <td class="table-danger" >     {{x.gs.0.3}}</td>
                    {%else%}
                    <td >               {{x.gs}}</td>
                    {%endif%}
                    {%if x.mode_de_comparaison_des_besoin.0.5 %}
                    <td class="table-danger" >     {{x.mode_de_comparaison_des_besoin.0.3}}</td>
                    {%else%}
                    <td >               {{x.mode_de_comparaison_des_besoin}}</td>
                    {%endif%}
                    {%if x.int_ajust_amont.0.5 %}
                    <td class="table-danger" >     {{x.int_ajust_amont.0.3}}</td>
                    {%else%}
                    <td >               {{x.int_ajust_amont}}</td>
                    {%endif%}
                    {%if x.int_ajust_aval.0.5 %}
                    <td class="table-danger" >     {{x.int_ajust_aval.0.3}}</td>
                    {%else%}
                    <td >               {{x.int_ajust_aval}}</td>
                    {%endif%}
             


                    {%if x.taille_l_min.0.5 %}
                    <td class="table-danger" >     {{x.taille_l_min.0.3}}</td>
                    {%else%}
                    <td >               {{x.taille_l_min}}</td>
                    {%endif%}
                    {%if x.uq2.0.5 %}
                    <td class="table-danger" >     {{x.uq2.0.3}}</td>
                    {%else%}
                    <td >               {{x.uq2}}</td>
                    {%endif%}
                    {%if x.val_arrondie.0.5 %}
                    <td class="table-danger" >     {{x.val_arrondie.0.3}}</td>
                    {%else%}
                    <td >               {{x.val_arrondie}}</td>
                    {%endif%}
                    {%if x.uq3.0.5 %}
                    <td class="table-danger" >     {{x.uq3.0.3}}</td>
                    {%else%}
                    <td >               {{x.uq3}}</td>
                    {%endif%}
          

                    {%if x.taille_lot_mx.0.5 %}
                    <td class="table-danger" >     {{x.taille_lot_mx.0.3}}</td>
                    {%else%}
                    <td >               {{x.taille_lot_mx}}</td>
                    {%endif%}
                    {%if x.uq4.0.5 %}
                    <td class="table-danger" >     {{x.uq4.0.3}}</td>
                    {%else%}
                    <td >               {{x.uq4}}</td>
                    {%endif%}
                    {%if x.stock_maximum.0.5 %}
                    <td class="table-danger" >     {{x.stock_maximum.0.3}}</td>
                    {%else%}
                    <td >               {{x.stock_maximum}}</td>
                    {%endif%}
                    {%if x.uq5.0.5 %}
                    <td class="table-danger" >     {{x.uq5.0.3}}</td>
                    {%else%}
                    <td >               {{x.uq5}}</td>
                    {%endif%}
              


                    {%if x.chant.0.5 %}
                    <td class="table-danger" >     {{x.chant.0.3}}</td>
                    {%else%}
                    <td >               {{x.chant}}</td>
                    {%endif%}
                    {%if x.typ.0.5 %}
                    <td class="table-danger" >     {{x.typ.0.3}}</td>
                    {%else%}
                    <td >               {{x.typ}}</td>
                    {%endif%}
                    {%if x.delai_sec.0.5 %}
                    <td class="table-danger" >     {{x.delai_sec.0.3}}</td>
                    {%else%}
                    <td >               {{x.delai_sec}}</td>
                    {%endif%}
                    {%if x.delai_sec1.0.5 %}
                    <td class="table-danger" >     {{x.delai_sec1.0.3}}</td>
                    {%else%}
                    <td >               {{x.delai_sec1}}</td>
                    {%endif%}




                    {%if x.ctrl_destinataire.0.5 %}
                    <td class="table-danger" >     {{x.ctrl_destinataire.0.3}}</td>
                    {%else%}
                    <td >               {{x.ctrl_destinataire}}</td>
                    {%endif%}
                    {%if x.article_rempl.0.5 %}
                    <td class="table-danger" >     {{x.article_rempl.0.3}}</td>
                    {%else%}
                    <td >               {{x.article_rempl}}</td>
                    {%endif%}
                    {%if x.dv.0.5 %}
                    <td class="table-danger" >     {{x.dv.0.3}}</td>
                    {%else%}
                    <td >               {{x.dv}}</td>
                    {%endif%}
                    {%if x.gml.0.5 %}
                    <td class="table-danger" >     {{x.gml.0.3}}</td>
                    {%else%}
                    <td >               {{x.gml}}</td>
                    {%endif%}
  
                

                    {%if x.grpl.0.5 %}
                    <td class="table-danger" >     {{x.grpl.0.3}}</td>
                    {%else%}
                    <td >               {{x.grpl}}</td>
                    {%endif%}
                    {%if x.abc.0.5 %}
                    <td class="table-danger" >     {{x.abc.0.3}}</td>
                    {%else%}
                    <td >               {{x.abc}}</td>
                    {%endif%}
                    {%if x.uq6.0.5 %}
                    <td class="table-danger" >     {{x.uq6.0.3}}</td>
                    {%else%}
                    <td >               {{x.uq6}}</td>
                    {%endif%}
                    {%if x.element_dOTP.0.5 %}
                    <td class="table-danger" >     {{x.element_dOTP.0.3}}</td>
                    {%else%}
                    <td >               {{x.element_dOTP}}</td>
                    {%endif%}
    


                    {%if x.grpa.0.5 %}
                    <td class="table-danger" >     {{x.grpa.0.3}}</td>
                    {%else%}
                    <td >               {{x.grpa}}</td>
                    {%endif%}
                    {%if x.Code_pilotage.0.5 %}
                    <td class="table-danger" >     {{x.Code_pilotage.0.3}}</td>
                    {%else%}
                    <td >               {{x.Code_pilotage}}</td>
                    {%endif%}
                    {%if x.hierarch_produits.0.5 %}
                    <td class="table-danger" >     {{x.hierarch_produits.0.3}}</td>
                    {%else%}
                    <td >               {{x.hierarch_produits}}</td>
                    {%endif%}
                    {%if x.poids_brut.0.5 %}
                    <td class="table-danger" >     {{x.poids_brut.0.3}}</td>
                    {%else%}
                    <td >               {{x.poids_brut}}</td>
                    {%endif%}



                    {%if x.unp1.0.5 %}
                    <td class="table-danger" >     {{x.unp1.0.3}}</td>
                    {%else%}
                    <td >               {{x.unp1}}</td>
                    {%endif%}
                    {%if x.poids_net.0.5 %}
                    <td class="table-danger" >     {{x.poids_net.0.3}}</td>
                    {%else%}
                    <td >               {{x.poids_net}}</td>
                    {%endif%}
                    {%if x.unp2.0.5 %}
                    <td class="table-danger" >     {{x.unp2.0.3}}</td>
                    {%else%}
                    <td >               {{x.unp2}}</td>
                    {%endif%}
                    {%if x.pas_de_ccr.0.5 %}
                    <td class="table-danger" >     {{x.pas_de_ccr.0.3}}</td>
                    {%else%}
                    <td >               {{x.pas_de_ccr}}</td>
                    {%endif%}
 
                    {%if x.Taille_de_lot_du_CCR.0.5 %}
                    <td class="table-danger" >     {{x.Taille_de_lot_du_CCR.0.3}}</td>
                    {%else%}
                    <td >               {{x.Taille_de_lot_du_CCR}}</td>
                    {%endif%}
                    {%if x.uq7.0.5 %}
                    <td class="table-danger" >     {{x.uq7.0.3}}</td>
                    {%else%}
                    <td >               {{x.uq7}}</td>
                    {%endif%}
                    
     </tbody>
                {%endfor%}
            </table>
        
        </div>
    </div>     


    {% endif %}
</div>
</div>       </div>
</div>       </div>
</div>  
{% endblock %}