.form{
position: relative;
width: 100%;
height: 200px;
border: 3px dashed grey;
border-radius: 10px;

}
.form div{
width: 100%;
height: 100%;
text-align: center;
line-height: 170px;
color: black;
font-family: Arial;
position: absolute;
top: 10%;
z-index: -1;
}
.form input{
position: relative;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
outline: none;
opacity: 0;
}
.form button {
    border-radius: 10px;
    padding: 10px 20px;
    background: #1950A3;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
}
div img {
    position: relative;
    top: 30px;
    left: -10px;
}
#fileName::before {
    content: 'File Name:';
}
#fileName {
    position: relative;
    top: 10px;
}


#page-wrapper {
    padding: 15px 25px;
  }
  
  .card {
    background-color: #fff;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
  }
  .l-bg-cherry {
    background: linear-gradient(to right, #74373c, rgb(229, 23, 54)) !important;
    color: #fff;
  }
  
  .l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
  }
  
  .l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
  }
  
  .l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
  }
  
  .card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
        
    
  }
  
  .card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: 5px;
    top: 20px;
    opacity: 0.1;
  }
  
  
  .l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
  }
  
  .l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
  }
  
  .l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
  }
  
  .l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
  }
  
  #chart-container-conditions {
    width: 100%; /* Utilisez la largeur de la div parent (col-md-6) */
    height: 225px; /* Ajustez la hauteur selon vos besoins */
  }
  
  .card-title {
    color: #fff; /* Définir la couleur du texte à blanc */
  }